<!DOCTYPE html>
<html>

<head>
  <title>Lista de Productos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body class="d-flex flex-column min-vh-100">
  <main class="flex-grow-1">
    <!-- NAV -->
    <section>
      <nav class="navbar navbar-expand-lg bg-dark-subtle">
        <div class="container-fluid">
          <a class="navbar-brand">Nose </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Productos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
    <!-- AGREGAR USUARIO -->
    <section class="my-2 mx-3">
      <button type="button" class="btn btn-outline-success" id="openModalBtn">
        Agregar Producto
      </button>
    </section>
    <!-- TABLA -->
    <section class="my-1 mx-3">
      <table class="table table-striped table-hover">
        <thead>
          <tr class="table-primary">
            <th>id</th>
            <th>Producto</th>
            <th>Marca</th>
            <th>Descripcion</th>
            <th>Precio costo</th>
            <th>Precio venta</th>
            <th>Existencia</th>
          </tr>
        </thead>
        <tbody>
          <% productos.forEach((producto, index)=> { %>
            <tr data-producto='<%= JSON.stringify(producto) %>' class="selectable-row" data-index="<%= index %>">
              <td>
                <%= producto.idProducto %>
              </td>
              <td>
                <%= producto.producto %>
              </td>
              <td>
                <%= producto.marca %>
              </td>
              <td>
                <%= producto.descripcion %>
              </td>
              <td>
                <%= producto.precio_costo %>
              </td>
              <td>
                <%= producto.precio_venta %>
              </td>
              <td>
                <%= producto.existencia %>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </section>
    <!-- Modal -->
    <section>
      <div id="myModal" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="tituloAdd">Agregar estudiante</h5>
              <button type="button" id="cerrarDialogButton" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div id="modalContent"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- FOOTER -->
  <section>
    <footer class="bg-dark text-light text-center py-3">
      <div class="container">
        <p>Carné: 7691-19-11984 || Nombre: Victor Hugo Guerra Rodriguez.&copy; 2023 Todos los derechos reservados.</p>
      </div>
    </footer>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const openModalBtn = document.getElementById('openModalBtn');
      const modal = document.getElementById('myModal');
      const cerrarDialogButton = document.getElementById('cerrarDialogButton')
      const modalContent = document.getElementById('modalContent');
      const selectableRows = document.querySelectorAll('.selectable-row');

      // Evento para abrir el modal con el formulario
      openModalBtn.addEventListener('click', async () => {
        try {
          const response = await fetch(`http://localhost:5000/add`);
          const addFormContent = await response.text();
          modalContent.innerHTML = addFormContent;
          const titulo = document.getElementById('tituloAdd');
          titulo.textContent = 'Agregar producto';
          modal.style.display = 'block';
        } catch (error) {
          console.error(error);
        }
      });

      // Evento para cerrar el modal si se hace clic fuera de su contenido
      modal.addEventListener('click', (event) => {
        if (event.target === modal) {
          modal.style.display = 'none';
        }
      });

      // Evento para cerrar el modal si se hace clic fuera de su contenido
      cerrarDialogButton.addEventListener('click', (event) => {
        if (event.target === cerrarDialogButton) {
          modal.style.display = 'none';
        }
      });

      // Evento para mostrar los detalles del estudiante en el modal al hacer clic en una fila
      selectableRows.forEach(row => {
        row.addEventListener('click', async () => {
          const response = await fetch(`http://localhost:5000/add`);
          const addFormContent = await response.text();
          modalContent.innerHTML = addFormContent;
          const titulo = document.getElementById('tituloAdd');
          titulo.textContent = 'Editar Producto';
          modal.style.display = 'block';
          
          // Obtén los campos del formulario
          const productoData = row.getAttribute('data-producto');
          const producto = JSON.parse(productoData);

          const idProducto = document.querySelector('#myModal [name="idProducto"]');
          const productoD = document.querySelector('#myModal [name="producto"]');
          const descripcion = document.querySelector('#myModal [name="descripcion"]');
          const precio_costo = document.querySelector('#myModal [name="precio_costo"]');
          const precio_venta = document.querySelector('#myModal [name="precio_venta"]');
          const existencia = document.querySelector('#myModal [name="existencia"]');
          const tipoMarcasInput = document.querySelector('#myModal [name="idMarca"]');

          // Llena los valores en los campos del formulario
          idProducto.value = producto.idProducto;
          productoD.value = producto.producto;
          descripcion.value = producto.descripcion;
          precio_costo.value = producto.precio_costo;
          precio_venta.value = producto.precio_venta;
          existencia.value = producto.existencia;
          const tiposMarcasOption = tipoMarcasInput.options;
          console.log(tiposMarcasOption)
          for (let i = 0; i < tiposMarcasOption.length; i++) {
            if (tiposMarcasOption[i].value === producto.idMarca.toString()) {
              tiposMarcasOption[i].selected = true;
              break;
            }
          }


          const spaceForButton = document.getElementById('space-for-button');
          //BOTON DE ACTUALIZAR
          const updateButton = document.createElement('button');
          updateButton.type = 'submit';
          updateButton.textContent = 'Actualizar';
          updateButton.setAttribute('name', 'update');
          updateButton.setAttribute('value', 'true');
          updateButton.setAttribute('class', 'btn btn-info ')
          //BOTON DE ELIMINAR
          const deleteButton = document.createElement('button');
          deleteButton.type = 'submit'; // Cambia el tipo a "submit"
          deleteButton.textContent = 'Eliminar';
          deleteButton.setAttribute('name', 'delete');
          deleteButton.setAttribute('value', 'true');
          deleteButton.setAttribute('class', 'btn btn-danger');
          deleteButton.addEventListener('click', () => {
            const confirmDelete = window.confirm('¿Estás seguro de que deseas eliminar al producto?');
            if (confirmDelete) {
              const form = document.querySelector('#myModal form');
              form.submit();
              modal.style.display = 'none';
            } else {
              event.preventDefault();
            }
          });
          spaceForButton.innerHTML = '';
          spaceForButton.appendChild(updateButton);
          spaceForButton.appendChild(deleteButton);
          spaceForButton.setAttribute('class', 'd-grid gap-2 col-12 mx-auto')
        });
      });
      //
    });
  </script>
</body>

</html>